.example-spacer {
  flex: 1 1 auto;
}

.toolbar,
.mat-toolbar {
  background-color: #D7E3FE;
  color: #015CBB;
  padding: 0;

  button {
    color: #015CBB;
  }

  .add-btn {
    color: blue;
  }
}

.comment-width {
  width: 30%;
}

mat-paginator {
  background-color: lighten(lightgrey, 10%);
}

.actions-width {
  width: 160px;
}
